.card-detail {
    background-color: blanchedalmond;
    display: flex;

    border-style: double;
    width: 250px;
    align-items: center;
}
.card-detail :first-child {
    flex: 1;
}
.card-detail :first-child p{
    font-size: 80%;
    margin: 0;
}
.card-detail :last-child {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.card-detail :last-child h4 {
    margin: 0;
    font-size: 120%;
    display: flex;
    align-items: center;
}
.card-detail :last-child p {
    font-size: 80%;
    margin: 0;
}